<html>
<head>
    <title>Zuzka's blog</title>
    <h1>island</h1>
    </head>


    <body>
        <div>
            <p>wechwechwech</p>
            <p>funguje!</p>

        </div>

        <div>
            <p>published: 09.09.2018, 14:48</p>
            <em>text text text text text text text</em>

            <strong>textik textik textik textik textik </strong>
            <br>
            <em>text text text text text text text</em>
            <p><strong>zuz</strong></p>
        </div>
    <a href="https://www.hedvabnastezka.cz/zeme/evropa/island/pruvodce/">link</a>
    <ul><li>rejkjavik</li><li>island</li></ul>
    </body>
</html>